# IDE Stuff
.vscode
.idea
.project
.pydevproject


# Development artifacts
venv
__pycache__
*.pyc


# Build artifacts
fdh.sqlite
fdh_test.sqlite
bf-tideprediction.zip
vendor
.coverage
report


# Deployment artifacts
manifest*.yml
